{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Научное сообщество</h3>
      <p>Это просто пример зеленой кнопки.</p>
      <p>
        <button class="btn btn-success">
          Проблем не выявлено        
        </button>
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Социальные сети</h3>
      <p>Анализ упоминаний препаратов в социальных сетях.</p>
      <p>Тут даже и кнопки нет.</p>
    </div>
    <div class="col-sm-4">
      <h3>Интернет-форумы</h3>
      <p>Анализ публикаций на Интернет-форумах с большим количеством сообщений.</p>
      <p>Кнопка работает!</p>
      <a href="{% url 'opinion_index' %}" class="btn btn-danger">
        Подробнее <span class="badge badge-light">4</span>        
      </a>
    </div>
  </div>
</div>

{% endblock %}
