{% extends 'base.html' %} {% block content %}
<div class="container-fluid" id="page-container">
    <h3>
        Обучающая выборка (дополнительные примеры)
    </h3>

    <br/>
    <table id="dataTable" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Препарат</th>
                <th scope="col">Текст</th>
                <th scope="col">Отзыв?</th>
                <th scope="col">Тональность</th>
                {% comment %} <th scope="col"></th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for item in trainingSetItems %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td></td>
                <td>{{ item.text }}</td>
                <td>{{ item.review_confidence }}</td>
                <td>
                    {{ item.opinion_polarity|default:"нет данных" }}
                </td>
                <td>
{% comment %} 
                    <div class="button-group" role="group">
                        <button class="btn btn-success btn-sm">+1</button>
                        <button class="btn btn-danger btn-sm">-1</button>
                    </div>
                     {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $("#dataTable").DataTable();
    } );
    
</script>

{% endblock %}