{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


<div class="container">
  <h3>Анализ тональности упоминаний препаратов в Интернет</h3>

  <div class="row">
    <div class="col-sm-4">
      <h3>Задания<br/><small>осталось <span id="yandex_limit"></span> Ya-запросов</small></h3>
      <ul>
        {% for task in tasks %}
          <li>
            <a href="{% url 'opinion_taskinfo' task.id %}"><strong>{{ task.drugname }}</strong></a>
            <br/>
            {{ task.status }} ({{ task.date }})
            {% for logitem in task.old_statuses.all %}
            <br/>
            {{ logitem.status }} ({{ logitem.date }})
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-8">
        <p>
          <form action="." method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form newtask_form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">Создать задание</button>
              {% endbuttons %}
          </form>
        </p>
      </div>

  </div>
</div>


<script>
    $(document).ready(function() {
        $("#yandex_limit").load('/opinion/limits/yandex'); /*--- FIXME: use django generated url */
    } );
</script>                



{% endblock %}
