<div class="list-group list-group-flush">
    {% for snippet in snippets %}
    <div class="list-group-item">
        <div class="row">
            <div class="col-11">
                <p class="{% if snippet.evaluation > 0 %} text-success {% elif snippet.evaluation < 0 %} text-danger {% endif %}">
                    {{ snippet.text }}
                </p>
            </div>
            <div class="col-1 item-controls">
                {% if not snippet.expert_mark %}
                <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-sm btn-secondary feedback-button"
                            data-snippet-id="{{ snippet.id }}"
                            data-decision="irrelevant"
                            data-toggle="tooltip" data-placement="left" title="Это не отзыв!">
                        <strong>x</strong>
                    </button>
                    <button type="button" class="btn btn-sm btn-success feedback-button"
                            data-snippet-id="{{ snippet.id }}"
                            data-decision="positive"
                            data-toggle="tooltip" data-placement="left" title="Это положительный отзыв!">
                        <strong>+</strong>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger feedback-button"
                            data-snippet-id="{{ snippet.id }}"
                            data-decision="negative"
                            data-toggle="tooltip" data-placement="left" title="Это отрицательный отзыв!">
                        <strong>-</strong>
                    </button>
                </div>
                {% else %}
                <span class="badge badge-primary" title="Этот фрагмент уже имеет экспертную оценку!"><i class="indicator fa fa-thumbs-up"></i>&nbsp;&nbsp;{{ snippet.expert_mark|floatformat:"0" }}</span>
                {% endif %}
                <span class="thanks invisible">
                    <i class="indicator fa fa-thumbs-up" title="Спасибо! Ваш выбор был сохранен."></i>
                    Спасибо!
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>