{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <h3>
        <a href="/"><i class="indicator fa fa-home" title="Перейти на начальную страницу"></i></a>
        Препарат: {{ task.drugname }} {% if task.aliases %}
        <small>({{ task.aliases }})</small> {% endif %}</h3>

    <div class="row">
        <div class="col-10">
            <table id="urls" class="hover" data-page-length='5'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Домен</th>
                        <th>Документ</th>
                        <th>
                            Оценка
                            <i class="text-info indicator fa fa-question-circle-o" title="Показываются максимальные оценки для выделенных фрагментов. Документ может содержать как положительные, так и отрицательные отзывы о препарате."></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                    <tr data-page-id="{{ page.id }}" data-page-url="{{ page.url }}">
                        <td> {{ forloop.counter }} </td>
                        <td>{{ page.domain }}</td>
                        <td>{{ page.title }}</td>
                        <td>
                            {% if page.show_positive %}
                            <span class="badge badge-success">+{{ page.max_snippet_evaluation }}</span>
                            {% endif %}
                            {% if page.show_negative %}
                            <span class="badge badge-{{ page.negative_class }}">{{ page.min_snippet_evaluation }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>
                <div id="page_snippets_area" class="card">
                    <div class="card-header">
                        Фрагменты
                        <a id="current_doc_link" target="_blank">документа
                            <i class="indicator fa fa-external-link" title="Открыть первоисточник в новом окне"></i>
                        </a>
                        <span id="snippets_controls" class="invisible">
                            <small>
                                <a href="#" title="Включить фрагменты с нейтральной оценкой">отобразить все</a>
                            </small>
                        </span>
                        <span class="float-right">
                            <i class="indicator  fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="card-body">
                        <div id="page_snippets" class="card-text"></div>
                    </div>
                </div>
            </p>
        </div>

        <div class="col-2">
            Статистика по сайтам:
            <table>
                {% for site in sites %}
                <tr>
                    <td> {{ site.domain }} </td>
                    <td> {{ site.docscount }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div> {#-- row --#}

</div> {#-- container --#}

<script>
    $(document).ready(function () {
        $('#urls').DataTable({
            select: true,
            "scrollY": "300px",
            "scrollCollapse": true,
            "paging": false
        });
        $('#urls').on('click', 'tr', function (ev) {
            ev.preventDefault()
            var pageid = $(this).data('page-id')
            var pageurl = $(this).data('page-url')
            $("#page_snippets").load('/opinion/page/snippets/' + pageid + '/') /*--- FIXME: use django generated url */
            $("#current_doc_link").attr('href', pageurl)
            // $("#snippets_controls").removeClass("invisible")
        });

        /* Обработка нажатия на кнопку обратной связи обучения */
        $('#page_snippets').on('click', '.feedback-button', function (ev) {
            ev.preventDefault()
            var decision=$(this).data('decision')
            var snippet_id=$(this).data('snippet-id')
            var btn=$(this)
            $.ajax({
                url: "/opinion/teacher/snippet/" + snippet_id + "/" + decision + "/"
              }).done(function() {
                btn.closest(".btn-group-vertical").addClass("invisible")
                btn.closest(".item-controls").find(".thanks").removeClass("invisible")
            });
        })
    });
</script> {% endblock %}