{% extends 'base.html' %} {% block content %}

<div class="container-fluid" id="page-container">
    <h3>
        Обучение классификатора
    </h3>

    <div class="row">
        <div class="col-8">
            <div id="target"></div>

            <script id="template" type="text/ractive">
                {% verbatim %}
                    <div class="card border-success mb-3">
                        <div class="card-header bg-transparent border-success">Отзыв о препарате: <strong>{{ drugname }}</strong></div>
                        <div class="card-body">
                            <div class="text-success">
                                <h5 class="card-title">{{ page_title }}</h5>
                            </div>
                          <p class="card-text"> {{ snippet }} </p>
                        </div>
                    </div>
                {% endverbatim %}
            </script>

            <div>
                <button type="button" class="btn btn-secondary feedback-button" data-decision="irrelevant" data-toggle="tooltip" data-placement="left"
                    title="Это не отзыв!">
                    Не отзыв
                </button>
                <button type="button" class="btn btn-success feedback-button" data-decision="positive" data-toggle="tooltip" data-placement="left"
                    title="Это положительный отзыв!">
                    Позитив
                </button>
                <button type="button" class="btn btn-danger feedback-button" data-decision="negative" data-toggle="tooltip" data-placement="left"
                    title="Это отрицательный отзыв!">
                    Негатив
                </button>
            </div>

            <div>
                <button type="button" class="btn">
                    Пропустить фрагмент
                </button>
            </div>

        </div>

        <div class="col-4">
            Что-то полезное можно показывать справа
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/ractive"></script>

<script>
    $(document).ready(function () {
        var snippet_id = 0 /* Идентификатор текущего фрагмента (что сейчас оценивает пользователь) */

        var snippet_ractive = new Ractive({
            target: '#target',
            template: '#template'
        });

        function load_next_snippet() {
            $.ajax({
                url: "/opinion/teach/get/snippet/"
            }).done(function (data) {
                snippet_ractive.set('snippet', data['snippet'])
                snippet_id = data['snippet_id']
                snippet_ractive.set('drugname', data['drugname'])
                snippet_ractive.set('page_title', data['page_title'])
            })
        }

        /* Обработка нажатия на кнопку обратной связи обучения */
        $('#page-container').on('click', '.feedback-button', function (ev) {
            ev.preventDefault()
            var decision = $(this).data('decision')
            var btn = $(this)
            $.ajax({
                // url: "/opinion/teach/get/snippet/"
                url: "/opinion/teacher/snippet/" + snippet_id + "/" + decision + "/"
            }).done(function () {
                load_next_snippet()
            });
        })

        load_next_snippet()
    });
</script> {% endblock %}