{% extends 'base.html' %} {% block content %}

<div class="container-fluid" id="page-container">
    <h3>
        Экспертная оценка качества работы классификатора
        <a class="btn btn-default" href="{% url 'opinion_teach_training__set_browse' %}">Обучающее множество</a>
    </h3>

    <div class="row">
        <div class="col-8">
            <form>
                <div id="target"></div>
            </form>

            <script id="template" type="text/ractive">
                {% verbatim %}
                <div class="form-group">
                    <label for="textToEvaluate">Текст для оценки</label>
                    <textarea class="form-control" id="textToEvaluate" rows="8">
                        Меня постоянно мучила головная боль, после ряда обследований оказалось, что у меня мигрень. Вот мне и выписали "Вазобрал". После длительного применения у меня в добавок к моей мигрени стали сильные боли желудочно-кишечном тракте. Врач сказал, что мой желудок сильно уязвим, и этот препарат может "добить" его. Пришлось отказаться от приёма этих таблеток. Жаль, так как после приёма таблеток у меня боль быстро уходила. Ну а теперь я в поисках нового лекарства для меня.
                    </textarea>
                    <small id="textToEvaluateHelp" class="form-text text-muted">Весь введенный текст будет рассматриваться как один абзац.</small>

                    <input id="snippetID" name="snipppet_id" type="hidden"/>
                </div>

                <button type="button" class="btn btn-primary do-evaluate">Оценить!</button>
                <!-- <button type="button" class="btn btn-default float-right">Изменить текст</button> -->

                {{#if showResults}}
                <h4 class="pt-3">
                    Результаты
                </h4>
                <p>
                Пожалуйста, подтвердите правильность ответа (для этого нужно нажать на выделенную цветом кнопку) или укажите свой вариант (кнопки с рамкой).
                Этот текст будет использован при следующем запуске алгоритма обучения нейронной сети.
                </p>

                <div class="card-footer pt-2">
                    <dl class="row">
                        <dt class="col-2">
                            Отзыв
                        </dt>
                        <dd class="col-2">
                            {{classificationResults.is_a_review_confidence}}
                        </dd>
                        <dd class="col-1">
                            <button type="button"
                                class="btn {{#if classificationResults.is_a_review}} btn-success {{else}} btn-outline-success {{/if}}
                                        feedback-button-review"
                                    data-decision="OK"
                                    data-toggle="tooltip"
                                    data-placement="left" title="Этот текст является отзывом">
                                Отзыв
                            </button>
                        </dd>    
                        <dd class="col-7">
                            <button type="button"
                                class="btn {{#if classificationResults.is_a_review}} btn-outline-danger {{else}} btn-danger {{/if}}
                                     feedback-button-review"
                                data-decision="notOK"
                                data-toggle="tooltip"
                                data-placement="left" title="Этот текст не является отзывом">
                                Не отзыв!
                            </button>
                        </dd>


                        <dt class="col-2">
                            Тональность
                        </dt>
                        <dd class="col-2">
                            {{#if classificationResults.is_a_review}}
                                {{classificationResults.opinion_polarity}}
                            {{else}}
                                <span class="text-danger">(не отзыв)</span>
                            {{/if}}
                        </dd>

                        <dd class="col-8">
                                <button type="button" class="btn btn-{{#if classificationResults.opinion_polarity_int != 1}}outline-{{/if}}success feedback-button-review"
                                    data-decision="positive"
                                    data-toggle="tooltip"
                                    data-placement="left" title="Это позитивный отзыв">
                                    Позитивный
                                </button>
                                <button type="button" class="btn btn-{{#if classificationResults.opinion_polarity_int != 0}}outline-{{/if}}secondary feedback-button-review"
                                    data-decision="neutral"
                                    data-toggle="tooltip"
                                    data-placement="left" title="Приведенный текст является отзывом, но его тональность нейтральная">
                                    Нейтральный
                                </button>
                                <button type="button" class="btn btn-{{#if classificationResults.opinion_polarity_int != -1}}outline-{{/if}}danger feedback-button-review"
                                    data-decision="negative"
                                    data-toggle="tooltip"
                                    data-placement="left" title="Это негативный отзыв">
                                    Негативный
                                </button>
                            </dd>
    
                        
                        <dt class="col-2 mt-3">
                            Признаки
                        </dt>
                        <dd class="col-10 mt-3">
                            Симптомы: {{classificationResults.features.symptoms}},
                            Органы: {{classificationResults.features.body_parts}},
                            Личный опыт {{classificationResults.features.pers}},
                            Разговорная речь: {{classificationResults.features.spoken}}
                        </dd>    
                    </dl>
                </div>
                {{/if}}
                {% endverbatim %}
            </script>

        </div>

        <div class="col-4">
            <h5>Список того, что еще можно оценить <small>нажмите на строчку для загрузки текста</small></h5>
            <ul class="list-group height-limited-list">
                {% for snippet in snippets %}
                <li class="list-group-item preprocessed-snippet-label" id="snippet_{{ snippet.id }}" data-snippet-id="{{ snippet.id }}">
                    {{ snippet.forumpage.title }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<style>
    .height-limited-list {
        height: 550px;
        overflow-y: scroll;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/ractive"></script>

<script>
    $(document).ready(function () {
        var snippet_id = 0 /* Идентификатор текущего фрагмента (что сейчас оценивает пользователь) */

        var snippet_ractive = new Ractive({
            target: '#target',
            template: '#template'
        });

        var classification_results = {
            'is_a_review': 0,
            'is_a_review_confidence': 0,
            'opinion_polarity': undefined,
            'opinion_polarity_name': undefined,
            'features': {},
        }

        var show_results = false;

        snippet_ractive.set('classificationResults', classification_results)
        snippet_ractive.set('showResults', show_results)

        function load_snippet(snippet_id_to_load) {
            show_results = false
            snippet_ractive.update('showResults')

            $.ajax({
                url: "{% url 'opinion_teach_get_snippet' %}",
                data: {
                    'snippet_id': snippet_id_to_load,
                },
                success: function (data) {
                    $('#snippetID').val = snippet_id_to_load
                    $('#textToEvaluate').val(data['text'])
                    evaluate_text()
                    snippet_id = snippet_id_to_load
                }
            })
        }

        // Оценка введенного текста и показ результата
        function evaluate_text() {
            var url = "{% url 'opinion_try_the_bot_evaluate' %}"
            var text = $('#textToEvaluate').val()

            $.ajax({
                url: url,
                type: 'post',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'text': text,
                },
                success: function (data) {
                    classification_results['is_a_review'] = data['is_a_review']
                    classification_results['is_a_review_confidence'] = data['is_a_review_confidence'].toFixed(3)
                    classification_results['opinion_polarity_int'] = data['opinion_polarity_int']
                    classification_results['features'] = data['features']
                    show_results = true
                    snippet_ractive.set('showResults', show_results)
                    snippet_ractive.update('showResults')
                    snippet_ractive.update('classificationResults')
                }
            })
        }


        /* Обработка нажатия на кнопку "Оценить фрагмент" */
        $('#page-container').on('click', '.do-evaluate', function (ev) {
            ev.preventDefault()
            var btn = $(this)
            evaluate_text()
        })

        $('#page-container').on('change keyup paste', '#textToEvaluate', function (ev) {
            show_results = false
            snippet_ractive.update('showResults')
        })

        $('#page-container').on('click', '.preprocessed-snippet-label', function (ev) {
            ev.preventDefault()
            var current_div = $(this)
            var snippet_id = $(this).data('snippet-id')
            load_snippet(snippet_id)
            $('.preprocessed-snippet-label').removeClass('active')
            $(this).toggleClass('active')
        })

        /* Обработка нажатия на кнопку обратной связи обучения */
        $('#page-container').on('click', '.feedback-button', function (ev) {
            ev.preventDefault()
            var decision = $(this).data('decision')
            var btn = $(this)
            $.ajax({
                // url: "/opinion/teach/get/snippet/"
                url: "/opinion/teacher/snippet/" + snippet_id + "/" + decision + "/"
            }).done(function () {
                load_next_snippet()
            });
        })

        /* Обработка нажатия на кнопку обратной связи обучения */
        $('#page-container').on('click', '.feedback-button-review', function (ev) {
            ev.preventDefault()
            var btn = $(this)
            var decision = btn.data("decision")
            var text = $('#textToEvaluate').val()
            var review_confidence = -1
            var opinion_polarity = undefined

            if (decision == "OK") {
                review_confidence = 1
            }
            else if (decision == "notOK") {
                review_confidence = 0
            }
            else if (decision == "positive") {
                review_confidence = 1
                opinion_polarity = 1
            }
            else if (decision == "negative") {
                review_confidence = 1
                opinion_polarity = -1
            }
            else if (decision == "neutral") {
                review_confidence = 1
                opinion_polarity = 0
            }

            $.ajax({
                url: "{% url 'opinion_teach_item_save' %}",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "text": text,
                    "snippet_id": snippet_id,
                    "review_confidence": review_confidence,
                    "opinion_polarity": opinion_polarity,
                },
                success: function (data) {
                    $('#snippet_' + snippet_id).remove()
                }
            })
        })

    });
</script> {% endblock %}