{% extends 'base.html' %} {% block content %}

<div class="container-fluid" id="page-container">
    <h3>
        Мониторинг твиттера
    </h3>

    <form action="." method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="termsToSearch">Запрос</label>
            <input type="text" class="form-control" id="termsToSearch" name="termsToSearch" value="Pandemrix"/>
            <small id="termsToSearchHelp" class="form-text text-muted">Несколько слов через запятую позволяют искать сообщения, содержащие все слова.</small>
        </div>
        <button type="submit" class="btn btn-primary">Найти!</button>
    </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Ретвитов</th>
                    <th>Текст</th>
                </tr>
            </thead>
            <tbody>
        {% for tweet in tweets %}
        <tr>
            <td>{{ tweet.created_at }} </td>
            <td>{{ tweet.retweet_count }}</td>
            <td><a target="_blank" href="https://twitter.com/{{ tweet.username }}/status/{{ tweet.status_id }}">{{ tweet.text }}</a></td>
        </tr>
        {% endfor %}
            </tbody>
        </table>

        <div id="target"></div>
        <script id="template" type="text/ractive">
            {% verbatim %}
            {% endverbatim %}
        </script>
</div>


<script src="https://cdn.jsdelivr.net/npm/ractive"></script>

<script>
    $(document).ready(function () {
        var snippet_id = 0 /* Идентификатор текущего фрагмента (что сейчас оценивает пользователь) */

        var tweets_ractive = new Ractive({
            target: '#target',
            template: '#template'
        });

        var tweets = {
            'is_a_review': 0,
        }

        tweets_ractive.set('tweets', tweets)
    
        /* Обработка нажатия на кнопку обратной связи обучения */
        $('#page-container').on('click', '.do-search', function (ev) {
            ev.preventDefault()
            var btn = $(this)
            var terms = $('#termsToSearch').val()

            $.ajax({
                url: "{% url 'opinion_teach_item_save' %}",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "terms": terms,
                },
                success: function (data) {
                    $('#snippet_' + snippet_id).remove()
                }
            })
        })



    });
</script> {% endblock %}